<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs")%>

<body>
    <%- include("../partials/nav.ejs")%>
        <div class="content not found">
            <h1>Oops!... Page not Found</h1>
        </div>
    
    
</body>
</html>