<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
<body>
    <%- include("../partials/nav.ejs")%>
   <div class="about content">
       <h1>ABOUT</h1>
       <p>This is  a Database project Made by Darwin during Learnwik Training and internship programme.</p>
       <p>You can add blogs and save them in your database.</p>

   </div>
        
  
</body>
</html>